$theme-colors: (
  "primary": #1e65b7,
  "secondary": #134a89,
  "light": #fafafa,
  "dark": #323232,
  "pure-white": #ffffff,
);

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/transitions";
@import "./rtl-bootstrap";
@import "./font-face";

// Start Main Styles
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Vazir-FD";
  font-weight: normal;
}
a {
  text-decoration: none !important;
}
.my-btn-bordered {
  border: 0.2rem solid map-get($theme-colors, primary);
  border-radius: 30rem;
  padding: 0.5rem 1.3rem;
  color: map-get($theme-colors, primary);
  font-weight: bold;
}
.my-btn-bordered:hover {
  background-color: map-get($theme-colors, primary);
  color: map-get($theme-colors, pure-white);
}
.my-btn-fill {
  background-color: map-get($colors, primary);
  border-radius: 30rem;
  padding: 0.5rem 1.3rem;
  color: map-get($theme-colors, pure-white);
  font-weight: bold;
}
.my-btn-fill:hover {
  background-color: map-get($colors, primary);
  color: map-get($theme-colors, pure-white);
}
// End Main Styles

// Start Header Styles
header {
  background-color: map-get($theme-colors, light);
  font-weight: bold;
  .nav-link {
    color: map-get($theme-colors, dark) !important;
    font-size: 1.1rem;
    &:hover {
      color: map-get($theme-colors, primary) !important;
    }
  }
}
// End Header Styles

// Start Top Section
.top__section {
  background-color: map-get($theme-colors, light);
  .top__section--title {
    font-size: 5rem !important;
  }
  .top__section--subtitle {
    font-size: 2rem !important;
  }
}
// End Top Section
